@media print {
    body > *:not(.printable) {
        display: none;
    }
}

.adhc-footer{
    background-color: #B3E2EF;
    height: 30px;
    width: 90vw;
}

.header {
    display:flex;
}

.printable  {
     display:flex;
     flex-direction: column;
     page-break-before: always;
     border: 2px solid red;
     align-items: center;
     justify-items: center;
}

.paper-div {
    margin-left: 4vw;
    margin-top: 4vh;
    width: 90vw;
    height: 90vh;
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 600px;
    height: 600px; 
    margin: 20px auto;
}
td {
    border: 1px solid black;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 60px;
    font-family: Helvetica;
}
th {
    text-align: center;
    height: 40px; 
    font-size: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    font-family: Helvetica;
}

/*Container holding the bingo table*/
.bingo-card {
    margin-bottom: 40px;
    border: 2px solid blue;
}


/*These @page chunks remove unwanted headers and footers when printing*/
@page {
    margin: 0;
    size: auto; 
}

@page :first {
    margin: 0;
    size: auto;
    margin-bottom: 0.5cm;
}