@media print {
    body > *:not(.printable) {
        display: none;
    }
}

.printable-logo-container  {
     page-break-before: always;
}

.logoContainer {
    display: flex;
    justify-items:center;
    align-items: center;
    width:100vw;
}

.card-div {
    width: 100vw;
    padding:20px;
    border: 2px solid red;
}

table {
    border-collapse: collapse;
    width: 600px;
    height: 680px; 
    margin: 20px auto;
}
td {
    border: 1px solid black;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 80px;
    padding: 20px;
    font-family: "helvetica neue";
}
th {
    text-align: center;
    height: 40px; 
    font-size: 50px;
    font-family: "helvetica neue";
}
.bingo-card {
    margin-bottom: 40px;
}
@page {
    margin: 0;
    size: auto; 
}

@page :first {
    margin: 0;
    size: auto;
    margin-bottom: 0.5cm;
}